// variables
$purple-dark: #7a01c0;
$purple-light: #975dca;
// $purple-light: #A874E7;
$purple-light-title: #8c3bba;
$pink: #F21884; 
$gradient: linear-gradient(to right, #743ad5, #d53a9d);
$green-dark: #025157;
$background-white: #eeeeee;
$dark-gray: rgb(24, 24, 24);
$btn-hover-green: #67b54b;
$btn-green-dark-hover: #003135;
$background-green: #a1d686;
$background-green-cat: #96d178;
$background-yellow: #f9da73;
$font-color-grey: #8b8b8bcc;
$font-color-grey-clear: #979797;
$header-color-black: #4a4a4a;

// elements
.btn {
    display: inline-block;
    background-color: $purple-light;
    padding: .75rem 1rem;
    width: 100%;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 350ms ease;
}

.btn:hover {
    background-color: $purple-dark;
    color: white;

}

.btn-inline {
    display: inline-block;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;                            
    border-image-slice: 1;
    border-image-source: $gradient;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    &:hover {
        color: rgb(220, 220, 220);
        cursor: pointer;
    }
}

.title {
    margin-bottom: 0;
    text-align: center;
    color: $background-white;
    font-size: 28px;
    //font-family: 'Alegreya', serif;
    font-weight: 600;

    &--small {
        @extend .title;
        font-size: 24px;
    }

    &--purple {
        @extend .title;
        color: $purple-light;
    }
}

.paragraph {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

    &--bold {
        @extend .paragraph;
        font-weight: 650;
    }
}

.container--p {
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
}