* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: $dark-gray;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    header {
        padding-top: 1.5rem;
        background-color: $purple-light;
        padding: 1rem;
        width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
        border-radius: 10px;
        
        .logo {
            margin-bottom: 1rem;
        }
    }

    main {
        .container {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;

            & > * {
                margin: 6rem 0;
            }

            &__rainbow {

                &--link, .link {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 2rem;

                    &>* {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        row-gap: 1.5rem;
                    }

                    &__playstore,
                    &__appstore {
                        &--title {
                            @extend .title;
                            font-size: 30px;
                        }

                        &--qr {
                            width: 250px !important;
                            border: 10px solid;
                            border-image-slice: 1;
                            border-width: 3px;                            
                            border-image-slice: 1;
                            border-image-source: $gradient;
                        }

                        &--link {
                            @extend .btn;
                            font-size: 20px;
                        }
                    }

                    &__playstore {

                    }
                }
            }

            &__address {

                .container--btn {
                    margin-top: 1.25rem;
                    display: inline-block;

                    .btn-inline {
                        font-size: 25px;
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }

            &__mint {

            }
        }
    }
}